In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

### Load the dataset

In [2]:
df = pd.read_excel(r"D:\INNOMATICS\DATA ANALYTICS\01-Python\final project\files\final_df.xlsx")

### Inspect the dataset

In [3]:
df.shape # check the shape of the datatset

(880, 12)

In [4]:
df.head() # Check top 5 observations

,Unnamed: 0,Hotel,Location,Ratings,No_of_Ratings,No_of_Reviews,Original_price,Discount_price,Taxes,Building_Type,House_Rule,hotel_type
0,0,Hotel Campal,Panjim,3.8,1164.0,646.0,"2,549","2,042",528,Apartment,Alcohol Allowed,NaN
1,1,ibis Styles Goa Calangute - An Accor Brand,Calangute,4.1,4348.0,2615.0,"5,750",NaN,690,Apartment,Unmarried Couples Allowed,4 star
2,2,SinQ Prive,Candolim,4.0,2251.0,1239.0,"3,690","3,010",720,Apartment,Alcohol Allowed,5 star
3,3,"Ginger Goa, Panjim",Panjim,3.9,5840.0,3566.0,"5,149",NaN,618,Apartment,Alcohol Allowed,3 star
4,4,Calangute Heights by Stay ALYF | Luxury 1 BHK ...,Calangute,4.6,235.0,111.0,"6,500","2,657",736,NaN,Unmarried Couples Allowed,3 star

In [5]:
df.tail() # check bottom 5 observations

,Unnamed: 0,Hotel,Location,Ratings,No_of_Ratings,No_of_Reviews,Original_price,Discount_price,Taxes,Building_Type,House_Rule,hotel_type
875,875,"Mandrem Beach Resort, a member of Radisson Ind...",Mandrem Beach,4.8,54.0,23.0,"16,00",NaN,"2,880",NaN,NaN,4 star
876,876,Marcello Villa | Rooms & Caretaker,Baga,NaN,314.0,166.0,999â‚¹,201 t,201,Villa,Alcohol Allowed,NaN
877,877,Subhash Guest House,Baga,3.4,180.0,118.0,"1,000",911+,210,Guest House,Alcohol Allowed,NaN
878,878,Villa Calangute Phase 12,Calangute,4.4,91.0,NaN,"30,60",NaN,"5,508",Villa,Alcohol Allowed,NaN
879,879,Baga Fantacia Beach Inn,Baga,3.4,247.0,156.0,"5,500","3,961",968,Apartment,NaN,3 star

In [6]:
df.columns

Index(['Unnamed: 0', 'Hotel', 'Location', 'Ratings', 'No_of_Ratings',
       'No_of_Reviews', 'Original_price', 'Discount_price', 'Taxes',
       'Building_Type', 'House_Rule', 'hotel_type'],
      dtype='object')

In [7]:
df.Building_Type.unique()

array(['Apartment', nan, 'Resort', 'Villa', 'Homestay', 'Hotel',
       'Guest House'], dtype=object)

In [8]:
df.info() # Check the dataset information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 880 entries, 0 to 879
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      880 non-null    int64
 1   Hotel           880 non-null    object
 2   Location        880 non-null    object
 3   Ratings         849 non-null    float64
 4   No_of_Ratings   864 non-null    float64
 5   No_of_Reviews   714 non-null    float64
 6   Original_price  880 non-null    object
 7   Discount_price  743 non-null    object
 8   Taxes           877 non-null    object
 9   Building_Type   572 non-null    object
 10  House_Rule      732 non-null    object
 11  hotel_type      553 non-null    object
dtypes: float64(3), int64(1), object(8)
memory usage: 82.6+ KB

In [9]:
df.dtypes # check the dtypes of columns
df.dtypes.value_counts() # check the count of dtypes in the dataset

Unnamed: 0          int64
Hotel              object
Location           object
Ratings           float64
No_of_Ratings     float64
No_of_Reviews     float64
Original_price     object
Discount_price     object
Taxes              object
Building_Type      object
House_Rule         object
hotel_type         object
dtype: object

object     8
float64    3
int64      1
Name: count, dtype: int64

### Check for Missing values

In [10]:
df.isna().sum() # check for missing values

Unnamed: 0          0
Hotel               0
Location            0
Ratings            31
No_of_Ratings      16
No_of_Reviews     166
Original_price      0
Discount_price    137
Taxes               3
Building_Type     308
House_Rule        148
hotel_type        327
dtype: int64

In [11]:
df['hotel_type'].isna().sum()

327

In [12]:
df2 = df.loc[df["hotel_type"].isna() == False]

In [13]:
df2.head(100)

,Unnamed: 0,Hotel,Location,Ratings,No_of_Ratings,No_of_Reviews,Original_price,Discount_price,Taxes,Building_Type,House_Rule,hotel_type
1,1,ibis Styles Goa Calangute - An Accor Brand,Calangute,4.1,4348.0,2615.0,"5,750",NaN,690,Apartment,Unmarried Couples Allowed,4 star
2,2,SinQ Prive,Candolim,4.0,2251.0,1239.0,"3,690","3,010",720,Apartment,Alcohol Allowed,5 star
3,3,"Ginger Goa, Panjim",Panjim,3.9,5840.0,3566.0,"5,149",NaN,618,Apartment,Alcohol Allowed,3 star
4,4,Calangute Heights by Stay ALYF | Luxury 1 BHK ...,Calangute,4.6,235.0,111.0,"6,500","2,657",736,NaN,Unmarried Couples Allowed,3 star
5,5,"The Yellow House, Goa - IHCL SeleQtions",Anjuna,4.2,71.0,30.0,"7,499",NaN,900,Resort,Alcohol Allowed,5 star
...,...,...,...,...,...,...,...,...,...,...,...,...
121,121,Kay's Riverview Resort,Baga,3.8,814.0,456.0,"4,448","2,857",764,Resort,Alcohol Allowed,3 star
122,122,"Le Meridien Goa, Calangute",Calangute,4.3,2198.0,1172.0,"8,300",NaN,"1,494",Apartment,Alcohol Allowed,5 star
125,125,TreeHouse Stamp,Benaulim,4.3,56.0,16.0,"6,299","4,350","1,239",Resort,Alcohol Allowed,3 star
126,126,Cafe blue in Palolem,Palolem,4.2,122.0,63.0,"6,500","4,279","1,011",NaN,NaN,3 star
127,127,Resort Terra Paraiso - A Beach Property,Calangute,4.1,4089.0,3142.0,"5,650","3,611","1,002",Resort,Alcohol Allowed,4 star

In [14]:
df2.shape

(553, 12)

In [15]:
df2.isna().sum()

Unnamed: 0          0
Hotel               0
Location            0
Ratings            12
No_of_Ratings       4
No_of_Reviews      60
Original_price      0
Discount_price     94
Taxes               1
Building_Type     124
House_Rule         82
hotel_type          0
dtype: int64

In [16]:
df2.duplicated()

1      False
2      False
3      False
4      False
5      False
       ...
872    False
873    False
874    False
875    False
879    False
Length: 553, dtype: bool

In [17]:
df2["hotel_type"].value_counts()

hotel_type
3 star    353
4 star    145
5 star     55
Name: count, dtype: int64

In [18]:
df2.isna().sum().sort_values(ascending = False)
# Sort the missing value output based on count

Building_Type     124
Discount_price     94
House_Rule         82
No_of_Reviews      60
Ratings            12
No_of_Ratings       4
Taxes               1
Unnamed: 0          0
Hotel               0
Location            0
Original_price      0
hotel_type          0
dtype: int64

In [19]:
df2["Building_Type"].value_counts()

Building_Type
Apartment      200
Resort         180
Hotel           24
Villa           11
Homestay        10
Guest House      4
Name: count, dtype: int64

In [20]:
df2.shape

(553, 12)

In [32]:
# Check the missing value percentage in each column 

((((df2.isna().sum().sort_values(ascending = False))/len(df))*100).astype(str) + "%").head(30)

Discount_price      8.409090909090908%
Ratings                          1.25%
No_of_Ratings      0.3409090909090909%
Taxes             0.11363636363636363%
Hotel                             0.0%
Location                          0.0%
Original_price                    0.0%
Building_Type                     0.0%
House_Rule                        0.0%
hotel_type                        0.0%
dtype: object

### Droping Unwanted Columns

In [33]:
df2.drop(columns = 'Unnamed: 0', inplace = True)

KeyError: "['Unnamed: 0'] not found in axis"

In [34]:
df2.shape

(406, 10)

In [35]:
df2.drop('No_of_Reviews', axis = 1, inplace = True)

KeyError: "['No_of_Reviews'] not found in axis"

In [36]:
df2.head(30)

,Hotel,Location,Ratings,No_of_Ratings,Original_price,Discount_price,Taxes,Building_Type,House_Rule,hotel_type
1,ibis Styles Goa Calangute - An Accor Brand,Calangute,4.1,4348.0,"5,750",NaN,690,Apartment,Unmarried Couples Allowed,4 star
2,SinQ Prive,Candolim,4.0,2251.0,"3,690","3,010",720,Apartment,Alcohol Allowed,5 star
3,"Ginger Goa, Panjim",Panjim,3.9,5840.0,"5,149",NaN,618,Apartment,Alcohol Allowed,3 star
5,"The Yellow House, Goa - IHCL SeleQtions",Anjuna,4.2,71.0,"7,499",NaN,900,Resort,Alcohol Allowed,5 star
7,Novotel Goa Panjim,Panjim,NaN,NaN,"12,29",NaN,"2,214",Apartment,Alcohol Allowed,5 star
8,Goa Woodlands Hotel,Margao,4.1,1503.0,"3,500","2,859",754,Apartment,Unmarried Couples Allowed,3 star
10,Hotel Jyoti Plaza,Margao,3.8,1035.0,"3,105","1,839",520,Apartment,Unmarried Couples Allowed,3 star
12,"Taj Exotica Resort & Spa, Goa",Benaulim,4.7,1168.0,"19,50",NaN,"3,510",Apartment,Alcohol Allowed,5 star
13,The Park Calangute,Calangute,3.9,784.0,"12,37",NaN,"2,351",Resort,Alcohol Allowed,4 star
14,TreeHouse Neptune,Panjim,3.8,956.0,"10,35",NaN,"2,186",Apartment,Alcohol Allowed,4 star
16,The Park Baga River Goa (Adults only Property),Baga,4.1,1736.0,"17,00",NaN,"3,060",Resort,Alcohol Allowed,5 star
17,"Taj Fort Aguada Resort & Spa, Goa",Candolim,4.6,2880.0,"16,00",NaN,"2,880",Apartment,Alcohol Allowed,5 star
20,The Westin Goa,Anjuna,4.7,476.0,"13,74",NaN,"2,473",Resort,Alcohol Allowed,5 star
21,SinQ The Party Hotel (No Stags Allowed),Candolim,4.0,2320.0,"2,800","2,164",518,Apartment,Alcohol Allowed,3 star
22,Hard Rock Hotel Goa Calangute,Calangute,4.1,5511.0,"5,624","4,499",673,Resort,Alcohol Allowed,5 star
23,Goa Marriott Resort & Spa,Panjim,4.4,1171.0,"15,75",NaN,"2,835",Resort,Alcohol Allowed,5 star
24,SinQ Beach Resort,Calangute,4.0,5145.0,"4,650","3,709",992,Resort,Unmarried Couples Allowed,3 star
25,Resort Rio,Arpora,4.0,2389.0,"12,77",NaN,"3,220",Resort,Alcohol Allowed,5 star
26,Kamats Daffodil Resort,Povorim,4.7,82.0,"5,501","2,902",900,Apartment,Alcohol Allowed,4 star
27,Ticlo Resorts,Calangute Baga Road,3.8,1719.0,"4,589","2,924",812,Resort,Unmarried Couples Allowed,3 star
28,ibis Styles Goa Vagator - An Accor Brand,Vagator,4.5,339.0,"5,500",NaN,660,Apartment,Alcohol Allowed,4 star
29,Sonnet-A boutique hotel by Lotus leaf Hotels,Anjuna,4.2,537.0,"4,320","3,227",910,Apartment,Alcohol Allowed,3 star
31,"Ginger Goa, Madgaon",Margao,4.1,1235.0,"3,299",NaN,396,Apartment,Alcohol Allowed,3 star
32,VEGA-A boutique hotel by Lotus Leaf Hotels,Colva,4.1,126.0,"4,500","2,914",954,Apartment,Alcohol Allowed,3 star
34,Hyatt Ronil Goa - a JdV by Hyatt,Baga,4.5,162.0,"7,299",NaN,876,Resort,Alcohol Allowed,4 star
36,Summit Calangute Resort & Spa,Calangute,3.8,286.0,"3,327","2,994",359,Resort,Alcohol Allowed,4 star
39,Hyatt Place Goa Candolim,Candolim,4.3,252.0,"7,150",NaN,858,Apartment,Alcohol Allowed,5 star
41,DoubleTree by Hilton Hotel Goa-Arpora- Baga,Arpora,3.9,299.0,"7,874",NaN,"1,222",Apartment,Alcohol Allowed,5 star
42,The Byke Old Anchor Beach Resort & Spa,Cavelossim,4.0,417.0,"3,690","2,569",678,Resort,Alcohol Allowed,3 star
43,"O Hotel Goa, Candolim Beach",Candolim,3.7,1393.0,"9,374","7,312",877,Resort,Alcohol Allowed,5 star

### drop rows that have null values

In [26]:
df2.isna().sum()

Hotel               0
Location            0
Ratings            12
No_of_Ratings       4
Original_price      0
Discount_price     94
Taxes               1
Building_Type     124
House_Rule         82
hotel_type          0
dtype: int64

In [37]:
df2.shape

(406, 10)

In [39]:
df2.Building_Type.isna().sum()

0

In [40]:
df2.dropna(subset=['Building_Type'],inplace=True)

In [41]:
df2.isna().sum()

Hotel              0
Location           0
Ratings           11
No_of_Ratings      3
Original_price     0
Discount_price    74
Taxes              1
Building_Type      0
House_Rule         0
hotel_type         0
dtype: int64

In [42]:
df2.shape

(406, 10)

In [43]:
df2.House_Rule.isna().sum()

0

In [44]:
df2.dropna(subset=['House_Rule'], inplace=True)

In [45]:
df2.isna().sum()

Hotel              0
Location           0
Ratings           11
No_of_Ratings      3
Original_price     0
Discount_price    74
Taxes              1
Building_Type      0
House_Rule         0
hotel_type         0
dtype: int64

In [46]:
df2.shape

(406, 10)

In [47]:
df2['Ratings'].isna().sum()

11

In [48]:
df2[df2['Ratings'].isna()]

,Hotel,Location,Ratings,No_of_Ratings,Original_price,Discount_price,Taxes,Building_Type,House_Rule,hotel_type
7,Novotel Goa Panjim,Panjim,NaN,NaN,"12,29",NaN,"2,214",Apartment,Alcohol Allowed,5 star
79,Ocean View The Apartment Hotel,Mormugao,NaN,67.0,"4,999","3,277",696,Apartment,Alcohol Allowed,3 star
194,"Country Inn Panjim Goa, Goa",Panjim,NaN,209.0,"4,850","4,123",495,Apartment,Alcohol Allowed,4 star
304,Olive Alidia Beach Resort by Embassy Group,Baga,NaN,NaN,"3,570","2,338",478,Resort,Alcohol Allowed,3 star
475,Sea breeze Village Baga,Calangute Baga Road,NaN,237.0,"3,700","3,098",633,Hotel,Alcohol Allowed,3 star
500,Tangerine Boutique Resort,Calangute,NaN,157.0,"5,000","3,105",634,Resort,Alcohol Allowed,3 star
650,Rivasa Resort,Calangute Baga Road,NaN,698.0,"1,785","1,661",339,Apartment,Unmarried Couples Allowed,3 star
708,Grandeur De Sanchi- Luxury Beach Resort & Spa,Calangute,NaN,67.0,"9,675","6,479","1,324",Resort,Alcohol Allowed,4 star
773,Sea Breeze Inn Calangute,Calangute Baga Road,NaN,327.0,"2,600","2,177",445,Resort,Alcohol Allowed,3 star
841,Eve Resort Patnem,Palolem,NaN,NaN,"3,000","1,973",455,Apartment,Unmarried Couples Allowed,4 star
856,Hotel Manvin's,Panjim,NaN,88.0,"4,699","2,550",576,Apartment,Alcohol Allowed,3 star

In [54]:
df2['Ratings'] = df2['Ratings'].fillna(0)

In [55]:
df2 = df2[~(df2['Ratings'].isna() & df2['No_of_Ratings'].notna())]

In [56]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406 entries, 1 to 874
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hotel           406 non-null    object
 1   Location        406 non-null    object
 2   Ratings         406 non-null    float64
 3   No_of_Ratings   403 non-null    float64
 4   Original_price  406 non-null    object
 5   Discount_price  332 non-null    object
 6   Taxes           405 non-null    object
 7   Building_Type   406 non-null    object
 8   House_Rule      406 non-null    object
 9   hotel_type      406 non-null    object
dtypes: float64(2), object(8)
memory usage: 34.9+ KB

In [57]:
df2[df2['Ratings'].isna()]

Empty DataFrame
Columns: [Hotel, Location, Ratings, No_of_Ratings, Original_price, Discount_price, Taxes, Building_Type, House_Rule, hotel_type]
Index: []

In [59]:
df2['No_of_Ratings'] = df2['No_of_Ratings'].fillna(0)

In [60]:
df2[df2['No_of_Ratings'].isna()]

Empty DataFrame
Columns: [Hotel, Location, Ratings, No_of_Ratings, Original_price, Discount_price, Taxes, Building_Type, House_Rule, hotel_type]
Index: []

In [61]:
df2.shape

(406, 10)

In [62]:
df2.dropna(subset = ['Ratings', 'No_of_Ratings'], inplace = True)

In [145]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 395 entries, 1 to 874
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hotel           395 non-null    object
 1   Location        395 non-null    object
 2   Ratings         395 non-null    float64
 3   No_of_Ratings   395 non-null    float64
 4   Original_price  395 non-null    object
 5   Discount_price  322 non-null    object
 6   Taxes           394 non-null    object
 7   Building_Type   395 non-null    object
 8   House_Rule      395 non-null    object
 9   hotel_type      395 non-null    object
dtypes: float64(2), object(8)
memory usage: 33.9+ KB

In [63]:
df2.shape

(406, 10)

In [64]:
df2['Taxes'] = df2['Taxes'].fillna(0)

In [65]:
df2.dropna(subset=['Taxes'], inplace=True)

In [66]:
df2.head(100)

,Hotel,Location,Ratings,No_of_Ratings,Original_price,Discount_price,Taxes,Building_Type,House_Rule,hotel_type
1,ibis Styles Goa Calangute - An Accor Brand,Calangute,4.1,4348.0,"5,750",NaN,690,Apartment,Unmarried Couples Allowed,4 star
2,SinQ Prive,Candolim,4.0,2251.0,"3,690","3,010",720,Apartment,Alcohol Allowed,5 star
3,"Ginger Goa, Panjim",Panjim,3.9,5840.0,"5,149",NaN,618,Apartment,Alcohol Allowed,3 star
5,"The Yellow House, Goa - IHCL SeleQtions",Anjuna,4.2,71.0,"7,499",NaN,900,Resort,Alcohol Allowed,5 star
7,Novotel Goa Panjim,Panjim,0.0,0.0,"12,29",NaN,"2,214",Apartment,Alcohol Allowed,5 star
...,...,...,...,...,...,...,...,...,...,...
184,Anamiva Goa - AM Hotel Kollection,Anjuna,3.9,157.0,"5,512","4,686",562,Resort,Alcohol Allowed,5 star
185,Rio Boutique Hotel,Bardez,4.0,351.0,"3,960","2,560",633,Apartment,Alcohol Allowed,3 star
186,So My Resorts (SoMy Resorts),Calangute Baga Road,4.2,1221.0,"5,805","3,715",446,Resort,Unmarried Couples Allowed,4 star
189,"ZIVA SUITES, a Boutique Hotel",Siolim,4.5,752.0,"6,150","4,862",993,Resort,Alcohol Allowed,4 star
190,Nitya Resort and Spa,Calangute,3.6,507.0,"3,600","2,310",589,Resort,Alcohol Allowed,3 star

In [67]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406 entries, 1 to 874
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hotel           406 non-null    object
 1   Location        406 non-null    object
 2   Ratings         406 non-null    float64
 3   No_of_Ratings   406 non-null    float64
 4   Original_price  406 non-null    object
 5   Discount_price  332 non-null    object
 6   Taxes           406 non-null    object
 7   Building_Type   406 non-null    object
 8   House_Rule      406 non-null    object
 9   hotel_type      406 non-null    object
dtypes: float64(2), object(8)
memory usage: 34.9+ KB

In [68]:
#clean original, discount, taxes prices

In [69]:
df2['Original_price'] = df2['Original_price'].replace({'â‚¹': '', ',': ''},regex=True).astype(int)

In [70]:
df2['Original_price'].dtype

dtype('int32')

In [71]:
df2.head()

,Hotel,Location,Ratings,No_of_Ratings,Original_price,Discount_price,Taxes,Building_Type,House_Rule,hotel_type
1,ibis Styles Goa Calangute - An Accor Brand,Calangute,4.1,4348.0,5750,NaN,690,Apartment,Unmarried Couples Allowed,4 star
2,SinQ Prive,Candolim,4.0,2251.0,3690,"3,010",720,Apartment,Alcohol Allowed,5 star
3,"Ginger Goa, Panjim",Panjim,3.9,5840.0,5149,NaN,618,Apartment,Alcohol Allowed,3 star
5,"The Yellow House, Goa - IHCL SeleQtions",Anjuna,4.2,71.0,7499,NaN,900,Resort,Alcohol Allowed,5 star
7,Novotel Goa Panjim,Panjim,0.0,0.0,1229,NaN,"2,214",Apartment,Alcohol Allowed,5 star

In [72]:
df2['No_of_Ratings'] = df2['No_of_Ratings'].astype(int)

In [73]:
df2.Discount_price.fillna(0, inplace=True)

In [74]:
print(df2['Discount_price'].value_counts().head(100))

Discount_price
0         74
 2,458     3
 3,349     3
 4,186     3
 3,780     2
          ..
 2,276     1
 3,195     1
 2,134     1
 2,227     1
 2,143     1
Name: count, Length: 100, dtype: int64

In [75]:
df2['Discount_price'] = df2['Discount_price'].str.replace('+','')
df2['Discount_price'] = df2['Discount_price'].str.replace(' t','')
df2['Discount_price'] = df2['Discount_price'].str.replace(',','')

In [76]:
df2['Discount_price'].fillna(0,inplace=True)

In [77]:
df2.Discount_price.astype(int)

1         0
2      3010
3         0
5         0
7         0
       ...
856    2550
863    1180
866    1603
872       0
874       0
Name: Discount_price, Length: 406, dtype: int32

In [78]:
df2['Discount_price'].value_counts()

Discount_price
0        74
 2458     3
 3349     3
 4186     3
 3780     2
         ..
 5933     1
 2202     1
 7510     1
 3656     1
 1603     1
Name: count, Length: 311, dtype: int64

### project data cleaning:

In [79]:
print(df2['Taxes'].value_counts())

Taxes
900      4
684      4
402      3
396      3
418      3
        ..
1,062    1
3,690    1
1,116    1
281      1
5,403    1
Name: count, Length: 336, dtype: int64

In [80]:
df2['Taxes'] = df2['Taxes'].str.replace('+','')
df2['Taxes'] = df2['Taxes'].str.replace(',','')

In [86]:
df2['Taxes'].unique()

array(['690', '720', '618', '900', '2214', '754', '520', '3510', '2351',
       '2186', '3060', '2880', '2473', '518', '673', '2835', '992',
       '3220', '812', '660', '910', '396', '954', '876', '359', '858',
       '1222', '678', '877', '2461', '848', '185', '2430', '630', '1389',
       '3450', '587', '1600', '760', '816', '728', '714', '2070', '696',
       '722', '960', '2637', '615', '165', '777', '715', '548', '329',
       '4268', '951', '603', '1168', '768', '2205', '893', '490', '2520',
       '753', '718', '739', '456', '764', '1494', '1239', '1002', '1980',
       '817', '3167', '945', '944', '1025', '529', '802', '1496', '627',
       '3078', '776', '1310', '1782', '1830', '903', '759', '882', '654',
       '721', '552', '562', '633', '446', '993', '589', '495', '1301',
       '729', '1521', '1308', '800', '1620', '299', '879', '452', '1079',
       '525', '3420', '508', '225', '671', '1287', '657', '1377', '492',
       '482', '540', '682', '710', '726', '2274', '289', '402', '1755',
       '864', '477', '281', '1116', '3690', '470', '1062', '519', '628',
       '465', '416', '311', '811', '454', '1604', '984', '2019', '599',
       '382', '780', '1440', '554', '2654', '680', '836', '1201', '828',
       '821', '824', '899', '351', '428', '497', '323', '799', '602',
       '611', '478', '591', '677', '568', '1276', '1001', '252', '522',
       '596', '534', '413', '1561', '418', '435', '527', '2750', '2053',
       '439', '474', '498', '472', '1038', '703', '565', '616', '308',
       '653', '2106', '322', '449', '431', '911', '2309', '684', '513',
       '1326', '885', '609', '421', '1346', '924', '638', '434', '502',
       '494', '855', '415', '748', '1164', '659', '1007', '2320', '702',
       '648', '1606', '466', '914', '566', '1787', '866', '695', '1728',
       '282', '242', '6655', '1098', '734', '550', '1454', '1202', '952',
       '1179', '1030', '634', '841', '516', '391', '433', '676', '889',
       '898', '761', '112', '233', '228', '1191', '461', '2130', '353',
       '2734', '708', '399', nan, '851', '362', '644', '610', '486',
       '487', '537', '444', '337', '936', '377', '243', '737', '205',
       '345', '665', '246', '747', '3137', '280', '1112', '250', '535',
       '765', '427', '1163', '573', '489', '925', '327', '400', '501',
       '691', '339', '1024', '496', '300', '1235', '1890', '731', '264',
       '202', '475', '371', '1455', '1324', '448', '743', '564', '484',
       '438', '567', '514', '517', '869', '445', '770', '3341', '510',
       '1656', '704', '521', '2850', '551', '588', '956', '2007', '1351',
       '312', '245', '975', '950', '455', '570', '378', '641', '576',
       '325', '414', '3260', '5403'], dtype=object)

In [93]:
df2['Taxes'] = df2['Taxes'].fillna(0)

df2['Taxes'] = df2['Taxes'].astype(int)

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 880 entries, 0 to 879
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      880 non-null    int64
 1   Hotel           880 non-null    object
 2   Location        880 non-null    object
 3   Ratings         849 non-null    float64
 4   No_of_Ratings   864 non-null    float64
 5   No_of_Reviews   714 non-null    float64
 6   Original_price  880 non-null    object
 7   Discount_price  743 non-null    object
 8   Taxes           877 non-null    object
 9   Building_Type   572 non-null    object
 10  House_Rule      732 non-null    object
 11  hotel_type      553 non-null    object
dtypes: float64(3), int64(1), object(8)
memory usage: 82.6+ KB

In [96]:
df2

,Hotel,Location,Ratings,No_of_Ratings,Original_price,Discount_price,Taxes,Building_Type,House_Rule,hotel_type
1,ibis Styles Goa Calangute - An Accor Brand,Calangute,4.1,4348,5750,0,690,Apartment,Unmarried Couples Allowed,4 star
2,SinQ Prive,Candolim,4.0,2251,3690,3010,720,Apartment,Alcohol Allowed,5 star
3,"Ginger Goa, Panjim",Panjim,3.9,5840,5149,0,618,Apartment,Alcohol Allowed,3 star
5,"The Yellow House, Goa - IHCL SeleQtions",Anjuna,4.2,71,7499,0,900,Resort,Alcohol Allowed,5 star
7,Novotel Goa Panjim,Panjim,0.0,0,1229,0,2214,Apartment,Alcohol Allowed,5 star
...,...,...,...,...,...,...,...,...,...,...
856,Hotel Manvin's,Panjim,0.0,88,4699,2550,576,Apartment,Alcohol Allowed,3 star
863,"FabExpress Symphony Homes, Calangute Beach",Calangute,3.6,10,2919,1180,325,Hotel,Unmarried Couples Allowed,3 star
866,The Sincro Hotel,Margao,3.7,206,1800,1603,414,Apartment,Alcohol Allowed,3 star
872,"The Postcard Hideaway, Netravali, Goa",South Goa,4.9,19,3070,0,3260,Resort,Alcohol Allowed,5 star
874,V are Family | Three Solace 3 BHK Villa,Candolim,4.4,27,3001,0,5403,Villa,Alcohol Allowed,4 star

In [91]:
df2.hotel_type.value_counts(dropna=False)

hotel_type
3 star    245
4 star    113
5 star     48
Name: count, dtype: int64

In [97]:
df2.dtypes

Hotel              object
Location           object
Ratings           float64
No_of_Ratings       int32
Original_price      int32
Discount_price     object
Taxes               int32
Building_Type      object
House_Rule         object
hotel_type         object
dtype: object