In [15]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import time
import re


import warnings
warnings.filterwarnings('ignore')

In [17]:


from selenium import webdriver

## scraping house rule - 1

In [20]:
driver = webdriver.Chrome()

In [5]:
url = "https://www.makemytrip.com/hotels/hotel-listing/?_uCurrency=INR&checkin=10112024&checkout=10132024&city=CTGOI&country=IN&filterData=HOUSE_RULES%7CAlcohol%20Allowed&locusId=CTGOI&locusType=city&regionNearByExp=3&roomStayQualifier=2e0e&rsc=1e2eundefinede&searchText=Goa"

In [6]:
driver.get(url)

In [7]:
# # Get scroll height
# import time
# last_height = driver.execute_script("return document.body.scrollHeight")

# while True:
#     # Scroll down to bottom
#     driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

#     # Wait to load page
#     time.sleep(5)

#     # Calculate new scroll height and compare with last scroll height
#     new_height = driver.execute_script("return document.body.scrollHeight")
#     if new_height == last_height:
#         break
#     last_height = new_height

In [8]:

# Get initial scroll height
last_height = driver.execute_script("return document.body.scrollHeight")

for _ in range(400):
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
    time.sleep(6)

    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

In [9]:
html = driver.page_source

In [10]:
soup = BeautifulSoup(html)

In [11]:

Names = []

for i in soup.find_all('div', class_='flexOne appendLeft20'):
    if re.findall("^[A-Za-z0-9 &',\-.a]+",i.text):
        Names.append(re.findall("^[A-Za-z0-9 &',\-.a]+",i.text)[0])
    else:
        Names.append(np.nan)

In [12]:
Hotel = []

for i in soup.find_all('div', class_='flexOne appendLeft20'):
    r = i.find('span', class_='wordBreak appendRight10')
    Hotel.append(r.text)

In [13]:
houserule_1df = pd.DataFrame({ "Hotel":Hotel })

In [14]:
houserule_1df

                                              Hotel
0                                 TreeHouse Neptune
1                                Ginger Goa, Panjim
2                                      Hotel Campal
3                               Elements by Rosetta
4                                      D7 La Serene
..                                              ...
900                          Sandbanks Beach Resort
901  El Raso - 1 BHK at Parra by The Blue Kite (05)
902             SPOT ON 63651 Red Rocks Guest House
903                           VANQUISH HOLIDAY HOME
904                         Samayra Guest House Goa

[905 rows x 1 columns]

In [15]:
houserule_1df['House_Rule'] = 'Alcohol Allowed'

In [16]:
houserule_1df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 905 entries, 0 to 904
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Hotel       905 non-null    object
 1   House_Rule  905 non-null    object
dtypes: object(2)
memory usage: 14.3+ KB

In [17]:
houserule_1df.nunique()

Hotel         905
House_Rule      1
dtype: int64

In [18]:
houserule_1df.House_Rule.value_counts()

House_Rule
Alcohol Allowed    905
Name: count, dtype: int64

In [19]:
houserule_1df

                                              Hotel       House_Rule
0                                 TreeHouse Neptune  Alcohol Allowed
1                                Ginger Goa, Panjim  Alcohol Allowed
2                                      Hotel Campal  Alcohol Allowed
3                               Elements by Rosetta  Alcohol Allowed
4                                      D7 La Serene  Alcohol Allowed
..                                              ...              ...
900                          Sandbanks Beach Resort  Alcohol Allowed
901  El Raso - 1 BHK at Parra by The Blue Kite (05)  Alcohol Allowed
902             SPOT ON 63651 Red Rocks Guest House  Alcohol Allowed
903                           VANQUISH HOLIDAY HOME  Alcohol Allowed
904                         Samayra Guest House Goa  Alcohol Allowed

[905 rows x 2 columns]

In [155]:

## saving df to excel

houserule_1df.to_excel(r"C:\Users\DELL\Final Project/files/houserule_1df.xlsx")

In [156]:
## reading saved excel df

houserule_1df = pd.read_excel(r'C:\Users\DELL\Final Project/files/houserule_1df.xlsx')

houserule_1df.drop(columns = 'Unnamed: 0', inplace = True)

houserule_1df

                                              Hotel       House_Rule
0                                 TreeHouse Neptune  Alcohol Allowed
1                                Ginger Goa, Panjim  Alcohol Allowed
2                                      Hotel Campal  Alcohol Allowed
3                               Elements by Rosetta  Alcohol Allowed
4                                      D7 La Serene  Alcohol Allowed
..                                              ...              ...
900                          Sandbanks Beach Resort  Alcohol Allowed
901  El Raso - 1 BHK at Parra by The Blue Kite (05)  Alcohol Allowed
902             SPOT ON 63651 Red Rocks Guest House  Alcohol Allowed
903                           VANQUISH HOLIDAY HOME  Alcohol Allowed
904                         Samayra Guest House Goa  Alcohol Allowed

[905 rows x 2 columns]

## scraping house rule - 2

In [123]:
driver = webdriver.Chrome()

In [124]:
url = "https://www.makemytrip.com/hotels/hotel-listing/?_uCurrency=INR&checkin=10112024&checkout=10132024&city=CTGOI&country=IN&filterData=HOUSE_RULES%7CUnmarried%20Couples%20Allowed&locusId=CTGOI&locusType=city&regionNearByExp=3&roomStayQualifier=2e0e&rsc=1e2eundefinede&searchText=Goa"

In [125]:
driver.get(url)

In [126]:
# # Get scroll height
# import time
# last_height = driver.execute_script("return document.body.scrollHeight")

# while True:
#     # Scroll down to bottom
#     driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

#     # Wait to load page
#     time.sleep(5)

#     # Calculate new scroll height and compare with last scroll height
#     new_height = driver.execute_script("return document.body.scrollHeight")
#     if new_height == last_height:
#         break
#     last_height = new_height

In [127]:

# Get initial scroll height
last_height = driver.execute_script("return document.body.scrollHeight")

for _ in range(400):
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
    time.sleep(6)

    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

In [128]:
html = driver.page_source

In [129]:
soup = BeautifulSoup(html)

In [130]:

Names = []

for i in soup.find_all('div', class_='flexOne appendLeft20'):
    if re.findall("^[A-Za-z0-9 &',\-.a]+",i.text):
        Names.append(re.findall("^[A-Za-z0-9 &',\-.a]+",i.text)[0])
    else:
        Names.append(np.nan)

In [131]:
Hotel = []

for i in soup.find_all('div', class_='flexOne appendLeft20'):
    r = i.find('span', class_='wordBreak appendRight10')
    Hotel.append(r.text)

In [134]:
houserule_2df = pd.DataFrame({ "Hotel":Hotel })

In [135]:
houserule_2df

                                         Hotel
0                            TreeHouse Neptune
1                          Elements by Rosetta
2                           Ginger Goa, Panjim
3                               Hotel Rajdhani
4                                 Hotel Campal
...                                        ...
1122                          Shunya Kaju Varo
1123  Candolim Alcove | Entire 1 BHK Apartment
1124                 StayVista at Casa Ferrazi
1125         StayVista at Tarika's Olive Villa
1126           Blue Line Holiday Homes, Agonda

[1127 rows x 1 columns]

In [136]:
houserule_2df['House_Rule'] = 'Unmarried Couples Allowed'

In [139]:
houserule_2df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1127 entries, 0 to 1126
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Hotel       1127 non-null   object
 1   House_Rule  1127 non-null   object
dtypes: object(2)
memory usage: 17.7+ KB

In [140]:
houserule_2df.nunique()

Hotel         1127
House_Rule       1
dtype: int64

In [141]:
houserule_2df.House_Rule.value_counts()

House_Rule
Unmarried Couples Allowed    1127
Name: count, dtype: int64

In [142]:
houserule_2df

                                         Hotel                 House_Rule
0                            TreeHouse Neptune  Unmarried Couples Allowed
1                          Elements by Rosetta  Unmarried Couples Allowed
2                           Ginger Goa, Panjim  Unmarried Couples Allowed
3                               Hotel Rajdhani  Unmarried Couples Allowed
4                                 Hotel Campal  Unmarried Couples Allowed
...                                        ...                        ...
1122                          Shunya Kaju Varo  Unmarried Couples Allowed
1123  Candolim Alcove | Entire 1 BHK Apartment  Unmarried Couples Allowed
1124                 StayVista at Casa Ferrazi  Unmarried Couples Allowed
1125         StayVista at Tarika's Olive Villa  Unmarried Couples Allowed
1126           Blue Line Holiday Homes, Agonda  Unmarried Couples Allowed

[1127 rows x 2 columns]

In [159]:

## saving df to excel

houserule_2df.to_excel(r"C:\Users\DELL\Final Project/files/houserule_2df.xlsx")

In [161]:
## reading saved excel df

houserule_2df = pd.read_excel(r'C:\Users\DELL\Final Project/files/houserule_2df.xlsx')

houserule_2df.drop(columns = 'Unnamed: 0', inplace = True)

In [163]:
houserule_2df

                                         Hotel                 House_Rule
0                            TreeHouse Neptune  Unmarried Couples Allowed
1                          Elements by Rosetta  Unmarried Couples Allowed
2                           Ginger Goa, Panjim  Unmarried Couples Allowed
3                               Hotel Rajdhani  Unmarried Couples Allowed
4                                 Hotel Campal  Unmarried Couples Allowed
...                                        ...                        ...
1122                          Shunya Kaju Varo  Unmarried Couples Allowed
1123  Candolim Alcove | Entire 1 BHK Apartment  Unmarried Couples Allowed
1124                 StayVista at Casa Ferrazi  Unmarried Couples Allowed
1125         StayVista at Tarika's Olive Villa  Unmarried Couples Allowed
1126           Blue Line Holiday Homes, Agonda  Unmarried Couples Allowed

[1127 rows x 2 columns]

## scraping house rule - 3

In [165]:
driver = webdriver.Chrome()

In [166]:
url = "https://www.makemytrip.com/hotels/hotel-listing/?_uCurrency=INR&checkin=10112024&checkout=10132024&city=CTGOI&country=IN&filterData=HOUSE_RULES%7CSmoking%20Allowed&locusId=CTGOI&locusType=city&regionNearByExp=3&roomStayQualifier=2e0e&rsc=1e2eundefinede&searchText=Goa"

In [167]:
driver.get(url)

In [168]:
# # Get scroll height
# import time
# last_height = driver.execute_script("return document.body.scrollHeight")

# while True:
#     # Scroll down to bottom
#     driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

#     # Wait to load page
#     time.sleep(5)

#     # Calculate new scroll height and compare with last scroll height
#     new_height = driver.execute_script("return document.body.scrollHeight")
#     if new_height == last_height:
#         break
#     last_height = new_height

In [169]:

# Get initial scroll height
last_height = driver.execute_script("return document.body.scrollHeight")

for _ in range(250):
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
    time.sleep(6)

    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

In [170]:
html = driver.page_source

In [171]:
soup = BeautifulSoup(html)

In [172]:

Names = []

for i in soup.find_all('div', class_='flexOne appendLeft20'):
    if re.findall("^[A-Za-z0-9 &',\-.a]+",i.text):
        Names.append(re.findall("^[A-Za-z0-9 &',\-.a]+",i.text)[0])
    else:
        Names.append(np.nan)

In [173]:
Hotel = []

for i in soup.find_all('div', class_='flexOne appendLeft20'):
    r = i.find('span', class_='wordBreak appendRight10')
    Hotel.append(r.text)

In [175]:
houserule_3df = pd.DataFrame({ "Hotel":Hotel })

In [177]:
houserule_3df

                                    Hotel
0                       TreeHouse Neptune
1                     Elements by Rosetta
2                            Hotel Campal
3         I Love Bell Bottoms Vagator Goa
4                       Hotel Jyoti Plaza
...                                   ...
1713           Veena Villa by Basil Stays
1714                Assagao Studio Royale
1715             Hotel Mobor Beach Resort
1716             Lushscape Fieldview Nest
1717  AquaSol Luxury Villas by STAYMASTER

[1718 rows x 1 columns]

In [178]:
houserule_3df['House_Rule'] = 'Smoking Allowed'

In [179]:
houserule_3df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1718 entries, 0 to 1717
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Hotel       1718 non-null   object
 1   House_Rule  1718 non-null   object
dtypes: object(2)
memory usage: 27.0+ KB

In [180]:
houserule_3df.nunique()

Hotel         1718
House_Rule       1
dtype: int64

In [183]:
houserule_3df.House_Rule.value_counts()

House_Rule
Smoking Allowed    1718
Name: count, dtype: int64

In [184]:
houserule_3df

                                    Hotel       House_Rule
0                       TreeHouse Neptune  Smoking Allowed
1                     Elements by Rosetta  Smoking Allowed
2                            Hotel Campal  Smoking Allowed
3         I Love Bell Bottoms Vagator Goa  Smoking Allowed
4                       Hotel Jyoti Plaza  Smoking Allowed
...                                   ...              ...
1713           Veena Villa by Basil Stays  Smoking Allowed
1714                Assagao Studio Royale  Smoking Allowed
1715             Hotel Mobor Beach Resort  Smoking Allowed
1716             Lushscape Fieldview Nest  Smoking Allowed
1717  AquaSol Luxury Villas by STAYMASTER  Smoking Allowed

[1718 rows x 2 columns]

In [197]:

## saving df to excel

houserule_3df.to_excel(r"C:\Users\DELL\Final Project/files/houserule_3df.xlsx")

In [199]:
## reading saved excel df

houserule_3df = pd.read_excel(r'C:\Users\DELL\Final Project/files/houserule_3df.xlsx')

houserule_3df.drop(columns = 'Unnamed: 0', inplace = True)

## scraping house rule - 4

In [22]:
driver = webdriver.Chrome()

In [23]:
url = "https://www.makemytrip.com/hotels/hotel-listing/?_uCurrency=INR&checkin=10112024&checkout=10132024&city=CTGOI&country=IN&filterData=HOUSE_RULES%7CPets%20Allowed&locusId=CTGOI&locusType=city&regionNearByExp=3&roomStayQualifier=2e0e&rsc=1e2eundefinede&searchText=Goa"

In [24]:
driver.get(url)

In [25]:
# # Get scroll height
# import time
# last_height = driver.execute_script("return document.body.scrollHeight")

# while True:
#     # Scroll down to bottom
#     driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

#     # Wait to load page
#     time.sleep(5)

#     # Calculate new scroll height and compare with last scroll height
#     new_height = driver.execute_script("return document.body.scrollHeight")
#     if new_height == last_height:
#         break
#     last_height = new_height

In [26]:

# Get initial scroll height
last_height = driver.execute_script("return document.body.scrollHeight")

for _ in range(300):
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
    time.sleep(5)

    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

In [27]:
html = driver.page_source

In [30]:
soup = BeautifulSoup(html)

In [31]:

Names = []

for i in soup.find_all('div', class_='flexOne appendLeft20'):
    if re.findall("^[A-Za-z0-9 &',\-.a]+",i.text):
        Names.append(re.findall("^[A-Za-z0-9 &',\-.a]+",i.text)[0])
    else:
        Names.append(np.nan)

In [34]:
Hotel = []

for i in soup.find_all('div', class_='flexOne appendLeft20'):
    r = i.find('span', class_='wordBreak appendRight10')
    Hotel.append(r.text)

In [35]:
houserule_4df = pd.DataFrame({ "Hotel":Hotel })

In [36]:
houserule_4df

                                           Hotel
0                      Goa Marriott Resort & Spa
1     TreeHouse Blue Hotel & Serviced Apartments
2                        SaffronStays Love Story
3    Lazy Lagoon, A Lemon Tree Resort, Goa, Baga
4                                   Hungry House
..                                           ...
450                   CHICOS BLISS 2BHK CANDOLIM
451           Luxury Private Pool Serviced Villa
452                            Hotel O Neelratna
453                                 Sk villa goa
454                             Sukoon Residency

[455 rows x 1 columns]

In [37]:
houserule_4df['House_Rule'] = 'Pets Allowed'

In [66]:
houserule_4df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 455 entries, 0 to 454
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Hotel       455 non-null    object
 1   House_Rule  455 non-null    object
dtypes: object(2)
memory usage: 7.2+ KB

In [68]:
houserule_4df.nunique()

Hotel         455
House_Rule      1
dtype: int64

In [70]:
houserule_4df.House_Rule.value_counts()

House_Rule
Pets Allowed    455
Name: count, dtype: int64

In [72]:
houserule_4df

                                           Hotel    House_Rule
0                      Goa Marriott Resort & Spa  Pets Allowed
1     TreeHouse Blue Hotel & Serviced Apartments  Pets Allowed
2                        SaffronStays Love Story  Pets Allowed
3    Lazy Lagoon, A Lemon Tree Resort, Goa, Baga  Pets Allowed
4                                   Hungry House  Pets Allowed
..                                           ...           ...
450                   CHICOS BLISS 2BHK CANDOLIM  Pets Allowed
451           Luxury Private Pool Serviced Villa  Pets Allowed
452                            Hotel O Neelratna  Pets Allowed
453                                 Sk villa goa  Pets Allowed
454                             Sukoon Residency  Pets Allowed

[455 rows x 2 columns]

## saving df to excel

In [75]:


houserule_4df.to_excel(r"C:\Users\DELL\Final Project/files/houserule_4df.xlsx")

## reading saved excel df

In [80]:

houserule_4df = pd.read_excel(r'C:\Users\DELL\Final Project/files/houserule_4df.xlsx')

houserule_4df.drop(columns = 'Unnamed: 0', inplace = True)

In [82]:
houserule_4df

                                           Hotel    House_Rule
0                      Goa Marriott Resort & Spa  Pets Allowed
1     TreeHouse Blue Hotel & Serviced Apartments  Pets Allowed
2                        SaffronStays Love Story  Pets Allowed
3    Lazy Lagoon, A Lemon Tree Resort, Goa, Baga  Pets Allowed
4                                   Hungry House  Pets Allowed
..                                           ...           ...
450                   CHICOS BLISS 2BHK CANDOLIM  Pets Allowed
451           Luxury Private Pool Serviced Villa  Pets Allowed
452                            Hotel O Neelratna  Pets Allowed
453                                 Sk villa goa  Pets Allowed
454                             Sukoon Residency  Pets Allowed

[455 rows x 2 columns]